header {
  background: #FFDFE7;
}

header a {
  color: #FE3525;
  font-family: BigJohn;
  text-decoration: none;
  padding: 10px;
}

.header-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hamburger,
.hamburger-checkbox {
  display: none;
}

/*.hamburgerMenu {
  display: none;
}*/

@media (max-width: 600px) {
  .header {
    margin: 0;
  }

  .hamburger {
    width: 75px;
    height: 50px;
    background: #FE3525;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .hamburgerBars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bar {
      width: 45px;
      height: 5px;
      background-color: #fff;
      padding: 0;
      margin: 5px auto;
  }

  .hamburger-checkbox {
    display: none;
  }

  a {
    margin: 0;
    pading: 12px;
    text-align: center;
    border-bottom: 1px dotted red;
    font-size: 1.4em;
  }

  .header-grid {
    display: none;
    flex-direction: column;
  }

  .hamburger-checkbox:checked + .header-grid {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
